<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://paasportal.epimore.com/"/>

    <add key="KeyVaultBaseUrl" value="https://dxcpaas-local.vault.azure.net/" />
    <add key="Azure.ActiveDirectory.TenantId" value="c6d260b3-0c63-4ced-b15b-ed462d08c5c4" />
    <add key="Azure.ServiceAccount.UserName" value="KEYVAULT" />
    <add key="Azure.ServiceAccount.Password" value="KEYVAULT" />
    <add key="Azure.ActiveDirectory.ClientId" value="81213243-8cea-445a-931c-4dc601591a4f" />
    <add key="Azure.ActiveDirectory.ClientKey" value="wMq8Q~_J~OBZsYANFLhpXApNkWsr3JFyvtb7haS-" />
    <add key="PublicSuffixUrl" value="https://publicsuffix.org/list/public_suffix_list.dat" />
    <add key="XApiKey" value="afe01766-253d-4df1-aa4a-f5939cd12bc4" />
    <add key="ApiEmail" value="ninhanh.nguyen@episerver.com" />
    <add key="ApiToken" value="8e081be6c8bd4d49a1774a9396b81aca866eb" />
    <add key="PaasTestDomainName" value="paastest.epimore.com" />
    <add key="FullZoneName" value="paastest.nl" />
    <add key="PartialZoneName" value="paastest.co.uk" />
    <add key="CustomHostnameResourceGroup" value="DXC-Domains" />
    <add key="AdminUserName" value="uitestadmin@epipaastest.onmicrosoft.com" />
    <add key="ReaderUserName" value="uitestreader@epipaastest.onmicrosoft.com" />
    <add key="ProjectUserName" value="uiprojectuser@epipaastest.onmicrosoft.com" />
    <add key="ReaderMarketerUserName" value="uitestreadermarketer@epipaastest.onmicrosoft.com" />
    <add key="PowerUserName" value="uipoweruser@epipaastest.onmicrosoft.com" />
    <add key="ProjectDeletionApproverUserName" value="uitestprojectdeletionapprover@epipaastest.onmicrosoft.com" />
    <add key="TestUserPassword" value="Mozo4445!Th1s" />
    <add key="AzureActiveDirectoryTenantDomain" value="epipaastest.onmicrosoft.com" />
    <add key="AzureTenantId" value="epipaastest.onmicrosoft.com" />
    <add key="AzureSubscriptionId" value="c58e3edc-13cf-497b-bcd3-d0cf2feaf596" />
    <add key="AzurePoolSubscriptionId" value="ae8b6a8d-6392-42b4-9e8f-5b59c476918e" />
    <add key="MockInfrastructureApiKey" value="4c345708-6db7-492e-a5e5-df77f7669821" />
    <add key="ProjectCreationTimeoutInMinutes" value="90" />
    <add key="ProjectDeletionTimeoutInMinutes" value="60" />
    <add key="CompleteCustomHostNameTimeoutInMinutes" value="30" />
    <add key="EnvironmentSynchronizationTimeoutInMinutes" value="120" />
    <add key="EnvironmentDecommissioningTimeoutInMinutes" value="60" />
    <add key="ContentSyncDownTimeoutInMinutes" value="60" />
    <add key="AlloySiteDeploymentTimeoutInMinutes" value="40" />
    <add key="QuicksilverSiteDeploymentTimeoutInMinutes" value="40" />
    <add key="EnvironmentInitializationTimeoutInMinutes" value="90"/>
    <add key="AlloyDeploymentNugetPackageLinux" value="D:\Alloy_Linux.cms.app.12.8.0.nupkg" />
    <add key="AlloyDeploymentNugetPackageWindow" value="D:\Alloy_Window.cms.app.1.2.1.nupkg" />
    <add key="NugetQuickSilverDeploymentPackage" value="D:\Commerce1421_Core1242_UI1240.cms.app.12.4.2.nupkg" />
    <add key="ScreenshotsDirectory" value=""/>
    <add key="Turnstile.Endpoint" value="KEYVAULT" />
    <add key="Turnstile.ProductId" value="KEYVAULT" />
    <add key="Turnstile.Region" value="KEYVAULT" />
    <add key="Turnstile.ApiKey" value="KEYVAULT" />
    <add key="Turnstile.ApiSecret" value="KEYVAULT" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>